# Archivos de compilación de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz

# Directorios de caché de Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Archivos de entorno virtual
.venv/
venv/

# Archivos de compilación de PDF
*.pdf
